.travel-app-text {
  z-index: 99999;
  color: white;
  font-weight: 900;
  font-size: 26pt;
}

.main-text{
  justify-content: center;
}

.travel-app-text{
  margin-top: 5rem;
}
.butonas{
  color:white;
}


